ion-app {
	--ion-background-color: #032BA1;
	--ion-background-color-rgb: 3,43,161;

	--ion-text-color: #FFFFFF;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #1036a6;
	--ion-color-step-100: #1c40aa;
	--ion-color-step-150: #294baf;
	--ion-color-step-200: #3555b4;
	--ion-color-step-250: #4260b9;
	--ion-color-step-300: #4f6bbd;
	--ion-color-step-350: #5b75c2;
	--ion-color-step-400: #6880c7;
	--ion-color-step-450: #748acb;
	--ion-color-step-500: #8195d0;
	--ion-color-step-550: #8ea0d5;
	--ion-color-step-600: #9aaad9;
	--ion-color-step-650: #a7b5de;
	--ion-color-step-700: #b3bfe3;
	--ion-color-step-750: #c0cae8;
	--ion-color-step-800: #cdd5ec;
	--ion-color-step-850: #d9dff1;
	--ion-color-step-900: #e6eaf6;
	--ion-color-step-950: #f2f4fa;
}

.branco{
  margin-top: 60px;
}
