.links{
  text-decoration: none;
}

.bg-card{
  background-color: #090f75;
}

.valor{
  background-color: #F2B705;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: xx-large;
  font-style: italic;
}
