<ion-slides [options]="optionsSlides">
  <ion-slide *ngFor="let i of slides">
    <a [href]="i.saibaMais" class="links">
      <ion-card class="bg-card">
        <img [src]="i.img">
        <ion-card-header>
          <ion-card-subtitle>{{ i.entrega }}</ion-card-subtitle>
          <ion-card-title>{{ i.modelo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span class="valor">R${{ i.valor }}</span>
        </ion-card-content>
      </ion-card>
    </a>
  </ion-slide>
</ion-slides>
