<ion-content>
  <app-home-slides-carousel></app-home-slides-carousel>
  <app-home-modal class="ion-padding-top"></app-home-modal>
  <app-home-slides class="ion-padding-top"></app-home-slides>
</ion-content>
