<ion-grid class="parallax ion-no-border">
  <ion-row style="width: 100%; height: 100%;">
    <ion-col class="ion-padding ion-text-center ion-margin-auto">
      <div class="ion-rounded-fill bg-contato ion-padding">
        <h1>Fale com um de nossos atendentes</h1>
        <ion-button onclick="openModal()">Acesse o chat aqui</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
