.parallax{
  height:400px;
  background-image: url("https://d1oa3togg7hmde.cloudfront.net/images/global/422/635/pirelli-moto-sp-riding-experience-racing-visore-dsk-2732x1260-4505522300195.jpg");
  background-size: cover;
  background-position: center;
}

.bg-contato{
  background-color: rgba(9, 15, 117, 0.9);
}

.ion-margin-auto{
  margin: auto;
}

.ion-rounded-fill{
  border-radius: 100%;
}

ion-button{
  --background: #263FC9;
}
