<ion-slides [options]="optionsSlides">
  <ion-slide *ngFor="let i of slidesCarousel" class="slide">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding ">
          <img [src]="i.img" class="img">
          <h2 class="titulo">
            {{ i.titulo }}
          </h2>
          <ion-text class="subtitulo">
            {{ i.subtitulo }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>
