<ion-toolbar mode="md">
  <ion-buttons slot="start">
    <ion-menu-button class="icons" auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon class="icons" slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title class="ion-text-center">
    <img src="./../../../assets/icon/logo.svg" class="logo">
  </ion-title>
</ion-toolbar>
